<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<th:block th:each="row, rowIndex : ${board}">
    <div class="row d-flex flex-nowrap">
        <th:block th:each="cell, colIndex : ${row}">
            <div th:if="${cell} == 0" class="field"
                 th:attr="data-coordinates=${rowIndex.index + ',' + colIndex.index}">
            </div>
            <div th:if="${cell} == 1" class="field pawn-white"
                 th:attr="data-coordinates=${rowIndex.index + ',' + colIndex.index}">
            </div>
            <div th:if="${cell} == 2" class="field pawn-black"
                 th:attr="data-coordinates=${rowIndex.index + ',' + colIndex.index}">
            </div>
            <div th:if="${cell} == 3" class="field possible-move"
                 th:attr="data-coordinates=${rowIndex.index + ',' + colIndex.index}">
            </div>
        </th:block>
    </div>
</th:block>