<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="one" class="d-flex flex-row align-items-center justify-content-center">
    <h2 id="turn-banner" class="banner ms-2 text-warning outlined my-5"></h2>
</div>
<div id="two">
    <div class="row h-100">
        <div class="col-2"></div>
        <div id="player-one" class="col-1 d-flex flex-column align-items-end h-100 me-0 pe-0">
        </div>
        <div class="col-6 h-100 m-0 p-0">
            <div class="d-flex flex-column align-items-center h-100 m-0 p-0">
                <div id="board" class="board h-100 m-5 p-5">
                </div>
            </div>
        </div>
        <div id="player-two" class="col-1 d-flex flex-column align-items-start h-100 ms-0 ps-0">
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div id="three">
</div>
<script>
    loaded_url = "/game/board";
    boardEventChannel = true;
    moveEventChannel = true;
    updateNavbar();
    updateBoard();
</script>