<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="one" class="d-flex align-items-center justify-content-center">
    <h1 class="text-warning outlined my-5" th:text="#{lang.available_games}"></h1>
</div>
<div id="two">
    <div id="main" class="container w-75">
        <div class="d-flex flex-column align-items-center w-100">
            <div id="gameSessions" class="w-100">
                <div class="w-100" style="overflow-y: auto; height: 300px;">
                    <table class="table mt-3">
                        <thead>
                        <tr>
                            <th class="text-warning m-1 p-1" th:text="#{lang.id}"></th>
                            <th class="text-warning text-center m-1 p-1" th:text="#{lang.creator}"></th>
                            <th class="text-warning text-center m-1 p-1" th:text="#{lang.game_status}"></th>
                            <th class="text-warning text-center m-1 p-1" th:text="#{lang.creation_date}"></th>
                            <th class="text-warning text-center m-1 p-1"></th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider table-divider-color">
                        <div th:if="${games != null}">
                            <tr th:each="game : ${games}">
                                <td class="text-warning m-1 p-1" th:text="${game.gameId}"></td>
                                <td class="text-warning text-center m-1 p-1"
                                    th:text="${game.getPlayers().get(0).getName()}"></td>
                                <td class="text-warning text-center m-1 p-1">
                                    <span class="badge bg-info" th:text="${game.gameSessionStatus}"></span>
                                </td>
                                <td class="text-warning text-center m-1 p-1"
                                    th:text="${#temporals.format(game.creationDate, 'yyyy-MM-dd HH:mm')}"></td>
                                <td class="text-warning text-center m-1 p-1">
                                    <a href="#" th:my-link="'/game/join/'+${game.gameId}">
                                        <span id="join" class="badge bg-success" th:text="#{lang.join}"></span>
                                    </a>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center mt-5">
                <a href="#" my-link="/game/list">
                    <button class="" th:text="#{lang.refresh}"></button>
                </a>
                <div class="m-2"></div>
                <a href="#" my-link="/user/lobby">
                    <button class="" th:text="#{lang.lobby}"></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="three">
</div>
<script>
    loaded_url = "/game/list";
    updateNavbar();
</script>