<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="one" class="image-box">
    <img class="center-fit" alt="Logo" src="/images/logo.png">
</div>
<div id="two">
    <div class="row h-100">
        <div class="container pb-0" id="main">
            <div class="d-flex flex-column align-items-center">
                <div th:if="${result.getIsWinner()} == true">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <h1 class="text-warning" th:text="#{lang.game_over_winner}"></h1>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <h2 class="text-warning" th:text="#{lang.result}"></h2>
                        <h2 class="text-warning ms-2" th:text="${result.getScore()}"></h2>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <a href="#" my-link="/user/lobby">
                            <button class="" th:text="#{lang.lobby}"></button>
                        </a>
                    </div>
                    <img class="align-bottom mb-0 pb-0" style="width: 400px; transform: translateX(-77px);" alt="Winner"
                         src="/images/game_over_winner.png">
                </div>
                <div th:if="${result.getIsWinner()} == false">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <h1 class="text-warning" th:text="#{lang.game_over_looser}"></h1>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <h2 class="text-warning" th:text="#{lang.result}"></h2>
                        <h2 class="text-warning ms-2" th:text="${result.getScore()}"></h2>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <a href="#" my-link="/user/lobby">
                            <button class="" th:text="#{lang.lobby}"></button>
                        </a>
                    </div>
                    <img class="align-bottom mb-0 pb-0" style="width: 400px; transform: translateX(0px);" alt="Looser"
                         src="/images/game_over_looser.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="three">
</div>
<script>
    boardEventChannel = false;
    moveEventChannel = false;
    loaded_url = "/game/over";
    updateNavbar();
</script>