<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div class="board h-100 my-5 py-5 me-0 pe-0">
    <div class="row">
        <div class="d-flex align-items-center justify-content-center">
            <div th:if="${player.getColor().name()} == 'WHITE'" class="dot-bg helmet-white m-5 mb-0 p-5"></div>
            <div th:if="${player.getColor().name()} == 'BLACK'" class="dot-bg helmet-black m-5 mb-0 p-5"></div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex align-items-center justify-content-center">
            <a class="text-warning" th:text="${player.getName()}"></a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="d-flex flex-row align-items-center justify-content-center">
            <a class="score me-1"></a>
            <a class="text-warning" th:text="${player.getScore()}"></a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="d-flex flex-row align-items-center justify-content-center">
            <a th:if="${player.getColor().name()} == 'WHITE'" class="pawn-white-sm me-1"></a>
            <a th:if="${player.getColor().name()} == 'BLACK'" class="pawn-black-sm me-1"></a>
            <a class="text-warning " th:text="${player.getRemainingPawns()}"></a>
        </div>
    </div>
    <div th:if="${player.getName()} == ${session.username}">
        <div th:if="${player.getIsActive()}" id="turn" th:turn-text="#{lang.your_turn}"></div>
        <div th:if="${!player.getIsActive()}" id="turn" th:turn-text="#{lang.opponents_turn}"></div>
    </div>
</div>
<script>
    updateTurnInfo();
</script>