<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="one" class="image-box">
    <img class="center-fit" alt="Logo" src="/images/logo.png">
</div>
<div id="two">
    <div class="container" id="main">
        <div id="waiting" class="col">
            <h2 class="text-warning text-center" th:text="#{lang.waiting}"></h2>
            <div class="image-crop d-flex align-items-center justify-content-center">
                <img class="center-fit" alt="Animated gif" src="/images/waiting.gif">
            </div>
        </div>
    </div>
</div>
<div id="three">
</div>
<script>
    loaded_url = "/game/create";
    updateNavbar();
    waitForGame();
</script>