<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="one" class="d-flex align-items-center justify-content-center">
    <h1 class="text-warning outlined my-5" th:text="#{lang.hall_of_fame}"></h1>
</div>
<div id="two">
    <div id="main" class="container w-75">
        <div class="d-flex flex-column align-items-center w-100">
            <div id="gameSessions" class="w-100">
                <div class="w-100" style="overflow-y: auto; height: 300px;">
                    <table class="table mt-3">
                        <thead>
                        <tr>
                            <th class="text-warning m-1 p-1" th:text="#{lang.id}"></th>
                            <th class="text-warning text-center m-1 p-1" th:text="#{lang.username}"></th>
                            <th class="text-warning text-center m-1 p-1" th:text="#{lang.email}"></th>
                            <th class="text-warning text-center m-1 p-1" th:text="#{lang.total_points}"></th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider table-divider-color">
                        <div th:if="${users != null}">
                            <tr th:each="user, iterStat : ${users}">
                                <td class="text-warning m-1 p-1" th:text="${iterStat.count}"></td>
                                <td class="text-warning text-center m-1 p-1"
                                    th:text="${user.name}"></td>
                                <td class="text-warning text-center m-1 p-1">
                                    <span class="badge bg-info" th:text="${user.email}"></span>
                                </td>
                                <td class="text-warning text-center m-1 p-1" th:text="${user.totalPoints}"></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center mt-5">
                <a href="#" my-link="/user/hall">
                    <button class="" th:text="#{lang.refresh}"></button>
                </a>
                <div class="me-3"></div>
                <a href="#" my-link="/user/lobby">
                    <button class="" th:text="#{lang.lobby}"></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="three">
</div>
<script>
    loaded_url = "/user/hall";
    updateNavbar();
</script>