<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="lang" class="dropdown">
    <a id="lang-selected" class="nav-link" data-bs-toggle="dropdown" href="#" role="button">
        <div class="us-flag dot-sm align-middle" th:if="${lang} == 'us'"></div>
        <div class="pl-flag dot-sm align-middle" th:if="${lang} == 'pl'"></div>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="#" my-lang="us">
                <div class="us-flag dot-sm align-middle me-3"></div>
                <span class="text-warning" th:text="#{lang.english}"></span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider"></hr>
        </li>
        <li>
            <a class="dropdown-item" href="#" my-lang="pl">
                <div class="pl-flag dot-sm align-middle me-3"></div>
                <span class="text-warning" th:text="#{lang.polish}"></span>
            </a>
        </li>
    </ul>
</div>