<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="one" class="image-box">
    <img class="center-fit" alt="Logo" src="/images/logo.png">
</div>
<div id="two">
    <div class="container" id="main">
        <div class="lobby">
            <a href="#" my-link="/game/create">
                <button id="create" class="" th:text="#{lang.create_game}"></button>
            </a>
            <a href="#" my-link="/game/list" class="mt-3">
                <button id="list" class="" th:text="#{lang.join_game}"></button>
            </a>
            <a href="#" my-link="/user/hall" class="mt-3">
                <button id="hall" class="" th:text="#{lang.hall_of_fame}"></button>
            </a>
        </div>
    </div>
</div>
<div id="three">
</div>
<script>
    loaded_url = "/user/lobby";
    boardEventChannel = false;
    moveEventChannel = false;
    userEventChannel = true;
    updateNavbar();
</script>