<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="one" class="image-box">
    <img class="center-fit" alt="Logo" src="/images/logo.png">
</div>
<div id="two">
    <div class="container" id="main">
        <div class="d-flex flex-column align-items-center">
            <form action="user/login" class="form" method="post">
                <input class="text-warning" id="email" name="email" th:placeholder="#{lang.email}" type="text"
                       required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                       data-bs-toggle="tooltip" data-bs-placement="right" title=""/>
                <input class="text-warning" id="password" name="password" th:placeholder="#{lang.password}"
                       type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$"
                       data-bs-toggle="tooltip" data-bs-placement="right" title=""/>
                <button class="" id="submit" th:text="#{lang.login}" type="submit"></button>
            </form>
            <a href="#" my-link="/user/register">
                <button id="register" class="" th:text="#{lang.register}"></button>
            </a>
        </div>
    </div>
</div>
<div id="three">
</div>
<div th:if="${alert} == 'warning'">
    <input type="hidden" id="head" th:value="#{lang.warning_header}"/>
    <input type="hidden" id="text" th:value="#{lang.auth_warning}"/>
    <script th:inline="javascript">
        showAlert('alert-danger', $('#head').val(), $('#text').val());
    </script>
</div>
<script>
    loaded_url = "/user/login";
    userEventChannel = false;
    boardEventChannel = false;
    moveEventChannel = false;
    updateNavbar();
    enableTooltips();
</script>