<nav class="navbar sticky-top">
  <div class="btn-group">
    <div id="language" class="d-flex align-items-center mx-3">
    </div>
    <div id="audio" class="d-flex align-items-center me-3">
      <div class="dropdown">
        <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button">
          <div class="music dot-sm align-middle"></div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <audio controls loop>
              <source src="/music/music.mp3" type="audio/mpeg">
            </audio>
          </li>
        </ul>
      </div>
    </div>
    <div id="user" class="d-flex align-items-center me-3">
    </div>
  </div>
  <div class="btn-group dropstart">
    <div id="info" class="d-flex align-items-center mx-3">
      <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button">
        <div class="info dot-sm align-middle"></div>
      </a>
      <div class="dropdown-menu my-0 py-0">
        <!-- Add disclaimer directly in the dropdown -->
        <div class="dropdown-item p-3 text-warning bg-dark" style="font-size: 0.8em;">
          <ul>
            <li>
              <strong>Disclaimer</strong><br>
              <p>This project is the final project for the course JEE (2023L) at Warsaw University of Technology,
                Faculty of Electronics and Information Technology.</p>
              <p>It is created for educational purposes only. Every effort has been made to ensure the accuracy and
                reliability of the information provided.</p>
              <p>However, the authors and contributors make no representations or warranties of any kind regarding the
                completeness, accuracy, or reliability of the information.</p>
              <p>Neither the university nor the authors accept any responsibility for any consequences resulting from
                the use of the information contained in this project. Use it at your own risk.</p>
              <strong>Authors</strong><br>
              <p>Gaworczyk Bernard, Pasik Damian</p>
            </li>
              <hr class="dropdown-divider"></hr>
            <li>
              <strong>Zastrzeżenie</strong><br>
              <p>Ten projekt jest projektem końcowym dla kursu JEE (2023L) na Wydziale Elektroniki i Technik
                Informacyjnych Politechniki Warszawskiej.</p>
              <p>Został stworzony wyłącznie w celach edukacyjnych. Włożono wiele starań, aby zapewnić dokładność i
                rzetelność dostarczanych informacji.</p>
              <p>Jednak autorzy ani współtwórcy nie składają żadnych oświadczeń ani nie udzielają żadnych gwarancji co
                do kompletności, dokładności lub rzetelności tych informacji.</p>
              <p>Ani uczelnia, ani autorzy nie ponoszą odpowiedzialności za żadne konsekwencje wynikające z korzystania
                z informacji zawartych w tym projekcie. Korzystasz na własne ryzyko.</p>
              <strong>Autorzy</strong><br>
              <p>Gaworczyk Bernard, Pasik Damian</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>