<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="one" class="d-flex align-items-center justify-content-center">
    <h1 class="text-warning outlined my-5" th:text="#{lang.registration}"></h1>
</div>
<div id="two">
    <div class="container" id="main">
        <div class="d-flex flex-column align-items-center">
            <form action="user/register" class="form" method="post" onsubmit="return validateForm()">
                <input class="text-warning" id="username" name="username" th:placeholder="#{lang.username}"
                       th:value="${username}" type="text" required pattern="^[a-zA-Z' -]+$"
                       data-bs-toggle="tooltip" data-bs-placement="right" title="^[a-zA-Z' -]+$"/>
                <input class="text-warning" id="email" name="email" th:placeholder="#{lang.email}" th:value="${email}"
                       type="text" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                       data-bs-toggle="tooltip" data-bs-placement="right" title="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"/>
                <input class="text-warning" id="password" name="password" th:placeholder="#{lang.password}"
                       type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$" oninput="checkPassword()"
                       data-bs-toggle="tooltip" data-bs-placement="right" title="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$"/>
                <input class="text-warning" id="confirmation" name="confirmation" th:placeholder="#{lang.confirm}" oninput="checkPassword()"
                       type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$"/>
                <button id="submit" th:text="#{lang.register}" type="submit"></button>
            </form>
            <a href="#" my-link="/user/login">
                <button id="login" class="" th:text="#{lang.login}"></button>
            </a>
        </div>
    </div>
</div>
<div id="three">
</div>
<div th:if="${alert} == 'success'">
    <input type="hidden" id="head" th:value="#{lang.success_header}"/>
    <input type="hidden" id="text" th:value="#{lang.reg_success}"/>
    <script th:inline="javascript">
        showAlert('alert-success', $('#head').val(), $('#text').val());
    </script>
</div>
<div th:if="${alert} == 'warning'">
    <input type="hidden" id="head" th:value="#{lang.warning_header}"/>
    <input type="hidden" id="text" th:value="#{lang.reg_warning}"/>
    <script th:inline="javascript">
        showAlert('alert-danger', $('#head').val(), $('#text').val());
    </script>
</div>
<script>
    loaded_url = "/user/register";
    updateNavbar();
    enableTooltips();
</script>