<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<div id="user" class="dropdown" th:if="${username} != ''">
    <a id="user-logged" class="nav-link" data-bs-toggle="dropdown" href="#" role="button">
        <div class="account dot-sm align-middle"></div>
    </a>
    <ul class="dropdown-menu my-0 py-0">
        <li class="text-center bg-warning mt-0 py-2">
            <a class="text-dark"><strong th:text="${username}"></strong></a>
        </li>
        <li class="my-2" th:if="${session.game_id} == null">
            <a class="dropdown-item text-warning" href="#" my-link="/user/update" th:text="#{lang.settings}"></a>
        </li>
        <li class="my-2" th:if="${session.game_id} == null">
            <a class="dropdown-item text-warning" href="#" my-link="/user/logout" th:text="#{lang.logout}"></a>
        </li>
        <li class="my-2" th:if="${session.game_id} != null">
            <a class="dropdown-item text-warning" href="#" my-link="/game/leave" th:text="#{lang.leave}"></a>
        </li>
    </ul>
</div>