audio {
    height: 24px;
    background-color:goldenrod;
    color: goldenrod;
}

audio::-webkit-media-controls-panel {
    background-color:goldenrod;
}

input[type="text"],
input[type="password"] {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 1rem;
    color: goldenrod;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 8px 15px rgb(77, 77, 255, 0.25);
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: rgba(0, 0, 0, 0.75);
    outline: 2px solid goldenrod;
    font-size: 1.2rem;
    box-shadow: 0 15px 20px rgb(77, 77, 255, 0.75);
}

button {
    padding: 0.5rem 1rem;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 200px;
    background-color: rgb(218, 165, 32, 0.75);
    transition: all 0.3s ease; /* Smooth transition for hover and active states */
    box-shadow: 0 8px 15px rgb(77, 77, 255, 0.25);
}

button:hover {
    /* Make button glow when hovered */
    box-shadow: 0 15px 20px rgb(77, 77, 255, 0.75);
}

button:active {
    /* Remove shadow and move button down a bit when pressed */
    box-shadow: none;
    transform: translateY(4px);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
}

.board {
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid goldenrod;
    border-radius: 10px;
}

.field {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 5px;
}

.field:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes possible {
    0% {
        background-color: rgba(255, 255, 255, 0.25);
    }
    50% {
        background-color: rgba(0, 255, 0, 0.25);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.possible-move {
    display: inline-block;
    animation: possible 1s infinite;
}

.dot-sm {
    height: 32px;
    width: 32px;
    background-color: goldenrod;
    border-radius: 50%;
    display: inline-block;
}

.dot-bg {
    height: 72px;
    width: 72px;
    background-color: goldenrod;
    border-radius: 50%;
    display: inline-block;
}

.us-flag {
    width: 30px;
    height: 30px;
    background-image: url("../images/us_flag.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.pl-flag {
    width: 30px;
    height: 30px;
    background-image: url("../images/pl_flag.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.music {
    width: 30px;
    height: 30px;
    background-image: url("../images/music.svg");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.info {
    width: 30px;
    height: 30px;
    background-image: url("../images/info.svg");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.account {
    width: 30px;
    height: 30px;
    background-image: url("../images/account.svg");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.helmet-white {
    width: 64px;
    height: 64px;
    background-image: url("../images/helmet_white.svg");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.helmet-black {
    width: 64px;
    height: 64px;
    background-image: url("../images/helmet_black.svg");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.pawn-white {
    width: 50px;
    height: 50px;
    background-image: url("../images/white_dwarf.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.pawn-black {
    width: 50px;
    height: 50px;
    background-image: url("../images/black_hole.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.pawn-white-sm {
    width: 32px;
    height: 32px;
    background-image: url("../images/white_dwarf.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.pawn-black-sm {
    width: 32px;
    height: 32px;
    background-image: url("../images/black_hole.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.score {
    width: 32px;
    height: 32px;
    background-image: url("../images/score.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.image-crop {
     width: 400px;
     height: 200px;
     overflow: hidden;
}

.image-crop img {
   width: 200px;
    height: 200px;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: rgb(77, 77, 255, 0.50);
}

.outlined {
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.banner {
    animation: pulse 2s infinite;
}

.tooltip-inner {
    background-color: rgba(0, 0, 0, 0.75);
    color: goldenrod;
}