body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    background-color: black;
}

.dropdown-item {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.outer-container {
    height: 100%;
    width: 100%;
    background-image: url("../images/login_bg_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inner-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.image-box {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.container {
    min-height: 420px;
    min-width: 465px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 5rem;
    border: 2px solid goldenrod;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.75);
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.lobby {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#three {
    height: available;
}