<!--
Author: Damian Pasik
Version: 0.9
Since: 11.06.2023
-->
<!DOCTYPE html>
<html lang="us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Reversi</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/elements.css">
</head>
<body>
<div class="container-fluid h-100 p-0 m-0">
    <div class="row h-100 p-0 m-0">
        <div class="d-flex justify-content-center align-items-center h-100 p-0 m-0">
            <div class="outer-container h-100 m-0 p-0">
                <div id="zero" class="inner-container h-75">
                    <div id="one" class="image-box">
                        <img class="center-fit" alt="Logo" src="/images/logo.png">
                    </div>
                    <div id="two">
                        <div class="container" id="main">
                            <div class="d-flex flex-column align-items-center">
                                <h1 class="text-warning" th:text="#{lang.error}"></h1>
                                <img class="center-fit my-2" style="width: 400px; height: 200px;" alt="Error"
                                     src="/images/coding_animated.gif">
                                <h2 class="text-warning" th:text="#{lang.try_later}"></h2>
                            </div>
                        </div>
                    </div>
                    <div id="three">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.6.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    userEventChannel = false;
    boardEventChannel = false;
    moveEventChannel = false;
</script>
</body>
</html>
